body{
    background-color: #0F2E50;
    margin: 0px;
    font-family: 'Lexend';
    width: 100%;
}

header{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #5979BC;
    height: 100px;
}

.pesquisa{
    position: absolute;
    width: 50%;
    text-align: center;
    right: 25%;
    margin-top: 30px;
    background-image: url('lupa.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right center;
    font-size: 16px;
    border-radius: 10px;
}

header img{
    width: 200px;
    height: 80px;
    padding-top: 15px;
}

.list{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.link:not(:last-child){
    border-right: 2px solid;
}

.link{
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.carlos{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    right: 85px;
    position: absolute;
    transform: scale(0.4);
    margin-top: -95px;
    cursor: pointer;
}

.contato{
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.engrenagem{
    cursor: pointer;
    transform: scale(0.4);
    margin-top: -95px;
    height: 150px;
    width: 150px;
    right: -15px;
    position: absolute;
}