
body {
  background-color: #0F2E50;
  margin: 0px;
  font-family: 'Lexend';
  width: 100%;
  

}

header {

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #5979BC;
  height: 100px;
  

}

.pesquisa {
  position: absolute;
  width: 50%;
  text-align: center;
  right: 25%;
  margin-top: 30px;
  background-image: url('lupa.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right center;
  font-size: 16px;
  border-radius: 10px;
  

}


header img {
  width: 200px;
  height: 80px;
  padding-top: 15px;
  

}

.list {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  text-align: center;

  

}

.link:not(:last-child) {
  border-right: 2px solid;

}

.link {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 10px;
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  
 
}
.carlos {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  right: 85px;
  position: absolute;
  transform: scale(0.4);
  margin-top: -95px;
  cursor: pointer;

  
}

.contato {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 10px;
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
  color: black;
    
}

.engrenagem {
  cursor: pointer;
  transform: scale(0.4);
  margin-top: -95px;
  height: 150px;
  width: 150px;
  right: -15px;
  position: absolute;
}

.balao {
  position: relative;
  display: flex;
  width: 95%;
  height: 590px;
  background-color: #5979BC;
  border-radius: 10px;
  margin: 50px auto;
  margin-top: 100px;
}


.divisao1 {
  position: absolute  ;
  display: flex;
  width: 35%;
  height: 270px;
  background-color: #D9D9D9;
  border-radius: 10px;
  margin: 50px auto;
  left: 60%;
}

.divisao2 {
  position: relative  ;
  display: flex;
  width: 35%;
  height: 150px;
  background-color: #D9D9D9;
  border-radius: 10px;
  margin: 50px auto;
  left: 27.5%;
  top: 55%;
  
}

.divisao3 {
position: absolute;
display: flex;
width: 50%;
height: 590px;
background-color: #D9D9D9;
border-radius: 10px;
background-image: url('https://img.freepik.com/fotos-premium/mulher-de-vestido-jogando-sinuca-com-um-homem-em-um-pub_151355-2550.jpg');
background-size: cover;}

.perfil2{ border-radius: 100%;
  height: 150px;
  width: 150px;
  right: 85px;
  position: absolute;
  transform: scale(0.4);
  margin-top: -95px;
  cursor: pointer;

  
}


.balao::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #0F2E50 transparent transparent transparent;
}

.balao::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent transparent #0F2E50 transparent;
}

footer {
  background-color: #5979BC;
  padding: 20px;
  visibility: visible;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px; 
  display: flex;
  justify-content: space-between;
}

.container-imagem-perfil {
  display: grid;
  grid-template-columns: 1fr;
  
}

.container-imagem-perfil img {
  width: 100%;
  max-height: 235px;
  
}

.container-perfil {
  position: relative;
  display: flex;
  width: 80%;
  height: 190px;
  background-color: #5979BC;
  border-radius: 15px;
  margin: -135px auto;
  font-family: 'Lexend', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  padding: 20px;
  border: 1px solid #ccc;

}

.container-imagem-perfil .foto-perfil img {
  height: 100%;
  object-fit: cover;
}

.container-perfil p {
  margin: 7px;
  width: 60%;
  position: absolute;
  right: 100px;
 
  
  
}

.container-perfil strong {
  font-weight: bold;
}

.nome {
  margin-top: 0px;
}

.balao7 {
  position: relative;
  display: flex;
  width: 115%;
  height: 590px;
  right: 50%;
  background-color: #5979BC;
  border-radius: 10px;
  margin: 50px auto;
  margin-top: 100px;
}